:root {
    --bg-success: #198754;
    --bg-warning: #fd7e14;
    --bg-danger: #dc3545;
    --bg-default: #000000;
}

/**************************/
/*        Fuentes         */
/**************************/
/*Tangerine*/
@font-face {
    font-family: 'Tangerine';
    src: url('fonts/Tangerine/Tangerine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*Tangerine bold*/
@font-face {
    font-family: 'Tangerine';
    src: url('fonts/Tangerine/Tangerine-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/*Buda*/
@font-face {
    font-family: 'Buda';
    src: url('fonts/Buda/Buda-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*Patrick*/
@font-face {
    font-family: 'Patrick Hand SC';
    src: url('fonts/Patrick_Hand_SC/PatrickHandSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/*Neonderthaw*/
@font-face {
    font-family: 'Neonderthaw';
    src: url('fonts/Neonderthaw/Neonderthaw-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/**************************/
/*        Bootstrap       */
/**************************/
.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    text-align: left;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
}
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}


.accordion {
    --bs-accordion-border-width: 0;
    --bs-accordion-border-radius: 0px;
    --bs-accordion-active-bg: #000000;
    --bs-accordion-active-color: #ffffff;
    --bs-accordion-btn-focus-box-shadow: none;
    /*--bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e) !important;*/
}

.accordion-item {
    background-color: transparent;
    border: none;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    font-size: 1.3rem;
    text-align: left;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.table {
    vertical-align: middle;
}

tbody {
    font-family: 'Buda';
    font-weight: bold;
}

th,
td {
    border: 1px solid #eb4e29;
}

th {
    font-family: 'Patrick Hand SC';
    font-weight: bold;
    font-size: 1.2rem;
}

/**************************/
/* Tamaño de contenedores */
/**************************/
.fullscreen {
    height: 100dvh;
    width: 100%;
}

/**************************/
/*      Alineaciones      */
/**************************/
.total-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.align-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/**************************/
/*   Botones & Forms      */
/**************************/
form {
    margin: 0;
}

button {
    font-family: 'Patrick Hand SC';
    font-size: 1.2rem;

    padding: 5px 20px;

    border: none;
    border-radius: 10px;
    transition: 0.2s;
}

.btn-add:disabled,
.btn-edit:disabled,
.btn-setting:disabled,
.btn-delete:disabled,
.btn-execute:disabled {
    background: rgb(207, 204, 204);
}
.btn-add:disabled:hover,
.btn-edit:disabled:hover,
.btn-setting:disabled:hover,
.btn-delete:disabled:hover,
.btn-execute:disabled:hover {
    background: rgb(207, 204, 204);
}

.btn-close {
    --bs-btn-close-focus-shadow: none;
}

.btn-execute {
    background: rgb(160, 38, 202, 0.8);
    color: #ffffff;
}.btn-execute:hover {
    background: rgb(133, 36, 165);
}

.btn-accept {
    background: rgb(194, 194, 194, 0.8);
}.btn-accept:hover {
    background: rgb(194, 194, 194, 1);
}

.btn-add {
    background: rgb(25, 160, 97, 0.8);
    color: #ffffff;
}.btn-add:hover {
    background: rgb(25, 160, 97, 1);
}

.btn-edit {
    padding: 5px 10px;
    background: rgb(255, 193, 7, 0.7);
    color: #000000;

    border-radius: 5px;
}.btn-edit:hover {
    background: rgb(255, 193, 7, 1);
}

.btn-setting {
    padding: 5px 10px;
    background: rgb(214, 214, 214);
    color: #000000;

    border-radius: 5px;
}.btn-setting:hover {
    background: rgb(171, 170, 170);
}

.btn-delete {
    padding: 5px 10px;
    background: rgb(220, 53, 69, 0.7);
    color: #ffffff;

    border-radius: 5px;
}.btn-delete:hover {
    background: rgb(220, 53, 69, 1);
}

label {
    font-family: 'Buda';
    font-size: 1.2rem;
}

input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;

    transition: 0.2s;
}input:focus {
    outline: none;
}

input[type='file'] {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.field-modal:read-only {
    background: rgb(0, 0, 0, 0.1);
}

.field-modal,
textarea {
    width: 100%;

    border-radius: 5px;
    border: 1.5px solid rgb(0, 0, 0, 0.3);
}

.field-modal:focus,
textarea:focus {
    outline: none;
    border: 1.5px solid rgb(0, 0, 0, 1);
}

textarea {
    padding: 5px 10px;
    resize: none;
}

select {
    padding: 5px 10px;
}

.label-photo {
    height: 80px;
    width: 80px;

    border: 2px solid rgb(0, 0, 0, 0.3);
    border-radius: 40px;

    color: #ffffff;
    background-blend-mode: darken;

    cursor: pointer;
}.label-photo i {
    font-size: 2.5rem;
}
/**************************/
/*      Visibilidad       */
/**************************/
.object-visible {
    opacity: 1 !important;
    visibility: visible !important;
}

.object-invisible {
    opacity: 0 !important;
    visibility: hidden !important;
}

/**************************/
/*  Preloaders & Loaders  */
/**************************/
/* From Uiverse.io by SchawnnahJ */ 
.container-preloader {
    background: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.loader {
 position: relative;
 width: 2.5em;
 height: 2.5em;
 transform: rotate(165deg);
}

.loader:before, .loader:after {
 content: "";
 position: absolute;
 top: 50%;
 left: 50%;
 display: block;
 width: 0.5em;
 height: 0.5em;
 border-radius: 0.25em;
 transform: translate(-50%, -50%);
}

.loader:before {
 animation: before8 2s infinite;
}

.loader:after {
 animation: after6 2s infinite;
}

@keyframes before8 {
 0% {
  width: 0.5em;
  box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
 }

 35% {
  width: 2.5em;
  box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
 }

 70% {
  width: 0.5em;
  box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
 }

 100% {
  box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
 }
}

@keyframes after6 {
 0% {
  height: 0.5em;
  box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }

 35% {
  height: 2.5em;
  box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
 }

 70% {
  height: 0.5em;
  box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
 }

 100% {
  box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
 }
}

.loader {
 position: absolute;
 top: calc(50% - 1.25em);
 left: calc(50% - 1.25em);
}

/* From Uiverse.io by satyamchaudharydev */
.loading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: #4c86f9;
    --second-color: #49a84c;
    --third-color: #f6bb02;
    --fourth-color: #f6bb02;
    --fifth-color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 6px;
    height: 100px;
}

.loading span {
    width: 4px;
    height: 50px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
}

.loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
}

.loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
}

.loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
}

@keyframes scale {

    0%,
    40%,
    100% {
        transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1);
    }
}
/**************************/
/*         Alerta         */
/**************************/
.system-alert {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    background: rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.content-alert {
    height: 200px;
    width: 500px;

    display: grid;
    grid-template-rows: 35px 1fr;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;

    background: #ffffff;
    transition: 0.2s;
}

.head-alert {
    border-radius: 10px 10px 0px 0px;
    background: #707070;
    color: #ffffff;

    font-family: 'Patrick Hand SC';
    font-weight: bold;
    font-size: 1.2rem;

    transition: 0.2s;
}

.body-alert {
    padding: 10px;
}

#text-alert {
    font-family: 'Buda';
    font-size: 1.2rem;
    font-weight: bold;
}

@media (width < 550px) {
    .content-alert {
        width: 100%;
        border-radius: 0px;
    }.head-alert {
        border-radius: 0px;
    }
}

@media (height < 250px) {
    .content-alert {
        height: 100%;
        width: 100%;
        border-radius: 0px;
    }.head-alert {
        border-radius: 0px;
    }
}

/**************************/
/*          Modal         */
/**************************/
.fade-modal-system {
    background: rgb(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-system-sm {
    height: 600px;
    width: 500px;

    display: grid;
    grid-template-rows: 50px 1fr;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    background: #ffffff;
    transition: 0.2s;
}

.modal-system-xl {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 50px 1fr;

    background: #ffffff;
    transition: 0.2s;
}

@media (width < 550px) {
    .modal-system-sm {
        width: 100%;
        box-shadow: none;
    }
}

@media (height < 650px) {
    .modal-system-sm {
        height: 100%;
        box-shadow: none;
    }
}

.head-modal {
    padding: 0px 10px;

    display: flex;
    align-items: center;
    justify-content:space-between;

    font-family: 'Patrick Hand SC';
    font-size: 1.3rem;

    border-bottom: 1px solid rgb(0, 0, 0, 0.4);
}

.body-modal {
    height: 100%;
    padding: 10px;

    overflow-y: auto;
    scrollbar-width: thin;
}

/**************************/
/*          Line          */
/**************************/
.line {
    width: 100%;
    height: 2px;
    margin: 10px 0px;

    background: rgb(220, 53, 69, 0.4);
}
